@tailwind base;
@tailwind components;
@tailwind utilities;


#auth {
    background: linear-gradient(to bottom, #58c6e2 0%,#58c6e2 50%,#58c6e2 50%,white 50%,white 100%);
}
#navbar{
    background-color: #58c6e2;
}